<?php
	return [
		'title' => 'Mikhail Kotelnikov, Programmer',
		'name' => 'Mikhail Kotelnikov',
		'description' => '<a href="https://woland.me">GNU/Linux Programmer</a>',
		'img' => [
			'face' => 'face.jpg',
			'bg' => 'bg1.png',
		],
		'content' => [
			[
				'Key contacts',
				['fa-mobile-alt', 'Mobile', ['tel:+79223445533', '+7 (922) 344-55-33']],
				['far fa-envelope', 'E-mail', ['mailto:fox@woland.me', 'fox@woland.me']],
				['fab fa-telegram', 'Telegram', ['tg:resolve?domain=wolandtel','@wolandtel']],
				['glyphicon-globe', 'Site', ['https://woland.me', 'woland.me']],
				['glyphicon-globe', 'Blog', ['https://blog.woland.me', 'blog.woland.me']],
				['glyphicon-briefcase', 'HeadHunter', ['https://hh.woland.me', 'Kotelnikov Mikhail Alekseevich']],
				['fab fa-skype', 'Skype', ['skype:woland.perm.ru?call', 'woland.perm.ru']],
				['fa-lock', 'GPG Key', '3010 236E 77B6 F818'],
			],
			[
				'IT Social',
				['glyphicon-globe', 'Хабрахабр', ['https://habrahabr.ru/users/wolandtel', 'wolandtel']],
				['glyphicon-globe', 'МойКруг', ['https://moikrug.ru/wolandtel', 'wolandtel']],
				['fab fa-linkedin', 'LinkedIn', ['https://www.linkedin.com/in/wolandtel/en', 'wolandtel']],
				['fab fa-stack-overflow', 'Stack Overflow', ['https://stackoverflow.com/users/6333217/woland', 'Woland']],
			],
			[
				'Development',
				['fab fa-gitlab', 'GitLab', ['https://git.woland.me/explore/projects', 'git.woland.me']],
				['fab fa-github', 'GitHub', ['https://github.com/wolandtel', 'wolandtel']],
				['fab fa-gitlab', 'GitLab', ['https://gitlab.com/wolandtel', 'wolandtel']],
				['fab fa-bitbucket', 'Bitbucket', ['https://bitbucket.org/wolandtel', 'wolandtel']],
				['fas fa-code-branch', 'SourceForge', ['https://sourceforge.net/u/drunkmaster/profile', 'drunkmaster']],
				['fas fa-code-branch', 'Launchpad', ['https://launchpad.net/~wolandtel', 'wolandtel']],
			],
			[
				'Social',
				['fab fa-vk', 'ВКонтакте', ['https://vk.com/wolandtel', 'wolandtel']],
				['fab fa-twitter', 'Twitter', ['https://twitter.com/wolandtel', 'wolandtel']],
				['fab fa-instagram', 'Instagram', ['https://www.instagram.com/wolandtel', 'wolandtel']],
				['fab fa-youtube', 'YouTube', ['https://www.youtube.com/user/wolandpermru', 'wolandpermru']],
				['fab fa-facebook-f', 'Facebook', ['https://www.facebook.com/wolandtel', 'wolandtel']],
				['fab fa-strava', 'Strava', ['https://www.strava.com/athletes/woland', 'woland']],
				['fab fa-google-plus-g', 'Google+', ['https://plus.google.com/u/0/+JohnFoxWoland', 'John Fox']],
				['fa-film', 'КиноПоиск', ['https://www.kinopoisk.ru/user/11301013', 'wolandtel']],
				['fa-gift', 'MyWishBoard', ['https://mywishboard.com/wolandtel', 'wolandtel']],
				['fab fa-periscope', 'Periscope', ['https://www.pscp.tv/wolandtel', 'wolandtel']],
				['fab fa-lastfm', 'Last.fm', ['https://www.last.fm/ru/user/wolandtel', 'wolandtel']],
			],
			[
				'Games',
				['fa-gamepad', 'World of Tanks', ['https://worldoftanks.ru/ru/community/accounts/19694509-wolandtel/', 'wolandtel']],
				['fab fa-playstation', 'PlayStation', ['https://my.playstation.com/profile/wolandtel', 'wolandtel']]
			],
			[
				'Money',
				['fa-credit-card', 'Альфа-банк', '5559 4936 9683 9886'],
				['fab fa-paypal', 'PayPal', ['http://paypal.woland.me', 'wolandtel']],
				['fas fa-ruble-sign', 'Яндекс.Деньги', ['http://money.woland.me', '41001364124799']],
			],
			[
				'Bank',
				['far fa-list-alt', 'Получатель', 'Котельников Михаил Алексеевич'],
				['far fa-list-alt', 'Номер счёта', '40817810308030023571'],
				['far fa-list-alt', 'Банк', 'АО «Альфа-Банк», г. Москва'],
				['far fa-list-alt', 'БИК', '044525593'],
			],
			[
				['fa-user', 'Also Known as', 'John Fox Woland'],
				['fa-user', 'Also Known as', 'wolandtel'],
				['fa-user', 'Also Known as', 'drunkmaster'],
			],
			[
				'Archive',
				['glyphicon-globe', 'Site', ['http://fox.perm.ru', 'fox.perm.ru']],
				['glyphicon-globe', 'Site', ['http://woland.perm.ru', 'woland.perm.ru']],
				['far fa-comment', 'JabberID', 'fox@woland.me'],
				['fab fa-foursquare', 'FourSquare', ['https://ru.foursquare.com/wolandtel', 'wolandtel']],
				['fa-user', 'LiveJournal', ['http://drunkmaster.livejournal.com', 'drunkmaster']],
			],
			[
				'History',
				['far fa-comment', 'ICQ', '110288292'],
				['fa-user', 'Also Known as', 'Grimvold'],
				['far fa-save', 'FIDO', '2:5054/18.50'],
			],
		]
	];
