<?php
	return [
		'title' => 'Mikhail Kotelnikov, Programmer',
		'name' => 'Mikhail Kotelnikov',
		'description' => '<a href="https://woland.me">GNU/Linux Programmer</a>',
		'content' => [
			[
				'Key contacts',
				['glyphicon-earphone', 'Mobile', ['tel:+79223445533', '+7 (922) 344-55-33']],
				['glyphicon-earphone', 'Mobile', ['tel:+79223445533', '+7 (996) 32-55-33-4']],
				['glyphicon-envelope', 'E-mail', ['mailto:fox@woland.me', 'fox@woland.me']],
				['fa-telegram', 'Telegram', ['tg:resolve?domain=wolandtel','@wolandtel']],
				['glyphicon-globe', 'Site', ['https://woland.me', 'woland.me']],
				['glyphicon-briefcase', 'HeadHunter', ['https://hh.woland.me', 'Kotelnikov Mikhail Alekseevich']],
				['fa-skype', 'Skype', ['skype:woland.perm.ru?call', 'woland.perm.ru']],
			],
			[
				'IT Social',
				['glyphicon-globe', 'Хабрахабр', ['https://habrahabr.ru/users/wolandtel', 'wolandtel']],
				['glyphicon-globe', 'МойКруг', ['https://moikrug.ru/wolandtel', 'wolandtel']],
				['fa-linkedin', 'LinkedIn', ['https://www.linkedin.com/in/wolandtel/en', 'wolandtel']],
				['fa-stack-overflow', 'Stack Overflow', ['https://stackoverflow.com/users/6333217/woland', 'Woland']],
			],
			[
				'Development',
				['fa-gitlab', 'GitLab', ['https://git.woland.me/explore/projects', 'git.woland.me']],
				['fa-github', 'GitHub', ['https://github.com/wolandtel', 'wolandtel']],
				['fa-bitbucket', 'Bitbucket', ['https://bitbucket.org/wolandtel', 'wolandtel']],
			],
			[
				'Social',
				['fa-vk', 'ВКонтакте', ['https://vk.com/wolandtel', 'wolandtel']],
				['fa-facebook-official', 'Facebook', ['https://www.facebook.com/wolandtel', 'wolandtel']],
				['fa-twitter', 'Twitter', ['https://twitter.com/wolandtel', 'wolandtel']],
				['fa-instagram', 'Instagram', ['https://www.instagram.com/wolandtel', 'wolandtel']],
				['fa-youtube-play', 'YouTube', ['https://www.youtube.com/user/wolandpermru', 'wolandpermru']],
				['fa-foursquare', 'FourSquare', ['https://ru.foursquare.com/wolandtel', 'wolandtel']],
			],
			[
				'Money',
				['fa-credit-card', 'Номер карты', '5486 7320 5407 865'],
				['fa-paypal', 'PayPal', ['http://paypal.woland.me', 'wolandtel']],
				['fa-rub', 'Яндекс.Деньги', ['http://money.woland.me', '41001364124799']],
			],
			[
				'Bank',
				['fa-bank', 'Получатель', 'Котельников Михаил Алексеевич'],
				['fa-bank', 'Номер счёта', '40817810308030023571'],
				['fa-bank', 'Банк', 'АО «Альфа-Банк», г. Москва'],
				['fa-bank', 'БИК', '044525593'],
			],
			[
				['fa-user', 'Also Known as', 'John Fox Woland'],
			],
		]
	];
